/* line 9, ../../app/assets/stylesheets/products.css.scss */
.products #song_listing td {
  padding: 0.25em;
}
/* line 12, ../../app/assets/stylesheets/products.css.scss */
.products #song_listing th {
  font-size: 1.25em;
  font-weight: bold;
}
/* line 18, ../../app/assets/stylesheets/products.css.scss */
.products .cover_image {
  width: 190px;
  height: 265px;
  background-image: url("cover_shadow.png");
  padding: 5px;
}
/* line 24, ../../app/assets/stylesheets/products.css.scss */
.products .play_button {
  width: 54px;
}
/* line 27, ../../app/assets/stylesheets/products.css.scss */
.products #product_image {
  display: inline;
  float: left;
  margin-right: 10px;
  width: 230px;
  padding-top: 1em;
}
/* line 147, ../../../../../../var/lib/gems/1.9.1/gems/compass-0.12.2/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html .products #product_image {
  overflow-x: hidden;
}
/* line 31, ../../app/assets/stylesheets/products.css.scss */
.products #product_desc {
  display: inline;
  float: left;
  margin-right: 10px;
  width: 470px;
  margin-right: 0;
  padding-top: 1em;
}
/* line 147, ../../../../../../var/lib/gems/1.9.1/gems/compass-0.12.2/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html .products #product_desc {
  overflow-x: hidden;
}
/* line 36, ../../app/assets/stylesheets/products.css.scss */
.products #product_payment, .products #product_songs {
  display: inline;
  float: left;
  margin-right: 10px;
  width: 710px;
  margin-right: 0;
  padding-top: 1em;
}
/* line 147, ../../../../../../var/lib/gems/1.9.1/gems/compass-0.12.2/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html .products #product_payment, * html .products #product_songs {
  overflow-x: hidden;
}
/* line 40, ../../app/assets/stylesheets/products.css.scss */
.products #product_payment label, .products #product_songs label {
  font-size: 1.2em;
}
