.bundle
db/*.sqlite3
db/seeds.rb
log/*.log
*.log
tmp/
/.vagrant
.sass-cache/
config/config.yml
config/database.yml
*~
*.*~
public/cast_carousel/
public/cast_images/
public/cast_thumbs/
public/family_images/
public/family_thumbs/
public/inages/header.png
