- @title = 'New Cast'

%h2 New Cast Member
%p
  Enter the details of the new person using the fields below and then click the
  update button to save the changes.

= render 'form'

= link_to 'Back', people_path
