<b>Comment recieved through CK Casting website</b>
<p><b>From: </b><%= @message.name %></p>
<p><b>Email: </b> <%= link_to @message.email, "mailto:#{@message.email}" %></p>
<p><b>Message: </b></p>
<p><%= @message.message %></p>
