- @title = @family_group.title

%div#family_name
  %h3
    = @family_group.title

%div.columnCastImage
  %div.castImage
    = image_tag @family_group.image_path,
                alt: @family_group.title,
                title: @family_group.title,
                size: '261x300'

  %div.castImglabel
    = @family_group.title

%div.columnCastDetails
  - @castlist.each do |c|
    = render partial: 'shared/castdetails',
             locals: {c: c, show_family_link: false}
