<% @title = @family_group.title %>
<h2><%= @family_group.title %></h2>
<div class="columnCastImage">
  <div class="castImage">
  <%= image_tag @family_group.image_url,
                alt: @family_group.title,
                title: @family_group.title,
                size: '261x300' %>
  </div>
  <div class="castImgLabel"><%= @family_group.title %></div>
</div>
<div class="columnCastDetails">
<% @castlist.each do |c| %>

  <%= render partial: 'shared/castdetails',
             locals: {c: c, show_family_link: false} %>

<% end %>
</div>
