<%= will_paginate castlist %>
<% castlist.each do |c| %>
  <div class="castThumb">
  <%= link_to(image_tag(c.thumbnail_path,
     alt: c.title, title: c.title, size: '137x158'), c.url) %>
  </div>
<% end %>
<% if castlist.empty?  %>
  <div class="noCast">
    Sorry no cast members match your criteria,<br />
    please try again.
  </div>
<% end %>
<%= will_paginate castlist %>
