- @title = 'Home'
- @description = 'A casting agency that specialises in film, TV, commercial and theatrical casting'

%div#aboutus
  %h1
    Welcome to CK Casting - a new and exciting agency for babies and toddlers to young
    adults.
  %p
    We are a casting agency that specialises in film, TV, commercial and
    theatrical casting. We know that you will find working with our children
    a successful and pleasureable experience.
  %p
    CK Casting offers so much more...
  %ul
    %li
      A specialised agency, solely representing children, young adults, siblings
      and twins.
    %li A site designed exclusively for casting professionals.
    %li Highly-experienced and trained child actors, singers and dancers.
    %li Children attend regular classes to maintain a high standard of performance.
    %li All children are based within easy access to Central London.
    %li
      We are happy to arrange performance licences as required, quickly and free
      of charge.
    %li
      We are constantly updating our files with new children joining throughout
      the year.

%div#news
  %div#newsHeading LATEST NEWS
  %ul#scroller
    - @news.each do |n|
      %li
        %div.scrollContainer
          %div.scrollImg
            = link_to(image_tag(n.thumbnail_path,
              alt: n.title,
              title: n.title,
              size: '52x60'), n.path)
          %div
            %h2
              = n.full_name
            %p
              = n.news_item
%div
  %canvas#carousel{width: '858', height: '200'}

