<% @title = 'Home' %>
<p>We are a casting agency that specialises in film, TV, commercial and theatrical casting. We know that you will find working with our children a successful and pleasureable experience.
</p>
<p>CK Casting offers so much more...</p>
<ul>
    <li>A specialised agency, solely representing children, young adults, siblings and twins.</li>
    <li>A site designed exclusively for casting professionals.</li>
    <li>Highly-experienced and trained child actors, singers and dancers.</li>
    <li>Children attend regular classes to maintain a high standard of performance.</li>
    <li>All children are based within easy access to Central London.</li>
    <li>We are happy to arrange performance licences as required, quickly and free of charge.</li>
    <li>We are constantly updating our files with new children joining throughout the year.</li>
</ul>

<canvas width="858" height="200" id="carousel">
</canvas>
<div id="carouselImages">
    <% @carousel.each do |c| %>
        <%= image_tag c.carousel_url, id: "img#{c.id}" %>
    <% end %>
</div>
