<% @title = @castbook.full_name %>
<div class="columnCastImage">
  <div class="castImage">
  <%= image_tag @castbook.image_path,
                alt: @castbook.full_name,
                title: @castbook.full_name,
                size: '261x300' %>
  </div>
</div>
<div class="columnCastDetails">
  <%= render partial: 'shared/castdetails',
             locals: {c: @castbook, show_family_link: true} %>
</div>
