<p id="notice"><%= notice %></p>

<p>
  <b>Hair colour:</b>
  <%= @hair_colour.hair_colour %>
</p>


<%= link_to 'Edit', edit_hair_colour_path(@hair_colour) %> |
<%= link_to 'Back', hair_colours_path %>
