<% @title = 'Contact' %>
<% @description = 'Get in conntact with us here at CK Casting' %>
<div class="contactDetail">
<p>If you would like to contact us please use the form below.
</p>
<%= form_tag do %>
  Form contents
<% end %>
</div>
