.applicants {
  .applicantTable {
    td {
      text-align: left;
    }
    .key {
      font-weight: bold;
      width: 120px;
      vertical-align: top;
    }
    .value {
      vertical-align: top;
    }
    th {
      border-top: solid 12px #ffffff;
      border-bottom: solid 3px #ffffff;
    }
  }
}
