/* -----------------------------------------------------------------------


 Blueprint CSS Framework 1.0.1
 http://blueprintcss.org

   * Converted to SCSS by Dave Sexton

----------------------------------------------------------------------- */

/* ie.css */
body {
  text-align: center;
}
.container {
  text-align: left;
}
* html .column {
  display: inline;
  overflow-x :hidden;
}
@for $i from 1 through 24 {
  * html .span-#{$i} {
    display: inline;
    overflow-x: hidden;
  }
}
* html legend {
  margin: 0px -8px 16px 0;
  padding: 0;
}
sup {
  vertical-align: text-top;
}
sub {
  vertical-align: text-bottom;
}
html>body p code {
  *white-space:normal;
}
hr {
  margin: -8px auto 11px;
}
img {
  -ms-interpolation-mode:bicubic;
}
.clearfix, .container {
  display:inline-block;
}
* html .clearfix, * html .container {
  height: 1%;
}
fieldset {
  padding-top: 0;
}
legend {
  margin: {
    top: -0.2em;
    bottom: 1em;
    left: -0.5em;
  }
}
textarea {
  overflow: auto;
}
label {
  vertical-align: middle;
  position: relative;
  top: -0.25em;
}
input.text, input.title, textarea {
  background-color: #fff;
  border: 1px solid #bbb;
}
input.text:focus, input.title:focus {
  border-color: #666;
}
input.text, input.title, textarea, select {
  margin: 0.5em 0;
}
input.checkbox, input.radio {
  position: relative;
  top: .25em;
}
form.inline div, form.inline p {
  vertical-align: middle;
}
form.inline input.checkbox, form.inline input.radio, form.inline input.button, form.inline button {
  margin: 0.5em 0;
}
button, input.button {
  position: relative;
  top: 0.25em;
}
