@import 'blueprint';

*, table {
  font-size: 12pt; 
  font-family: Verdana;
  color: #444455;
}
.nowrap {
  white-space: nowrap;
}

nav {
  height: 45px;
  top: 15px;
  div {
    float: left;
    padding: 0px 5px 7px 5px;
    border: {
      style: solid;
      width: 0px 0px 6px 0px;
      color: #FFFFFF;
    }
    margin-right: 5px;
    font: {
      size: 1.2em;
      family: Verdana;
    }
    a {
      text-decoration: none;
    }
    &:hover {
      border-color: #0000AA;
    }
  }
  .activeNav {
    border-color: #660000;
    &:hover {
      border-color: #660000;
    }
  }
}
header {
  @include prepend(1);
  @include span(22);
  @include append(1);
  hgroup {
    height: 80px;
  }
}
footer {
  @include span(24);
  @include last;
  text-align: center;
  height: 40px;
  margin-top: 20px;
}
#main {
  @include prepend(1);
  @include span(22);
  @include append(1);
}
/* --- HOME --- */
.home {
    #carouselImages {
        display: none;
    }
}
/* --- CASTBOOK --- */
.castbook {
  .castImage {
    background-image: url('cast_image_frame.gif');
    width: 316px;
    height: 363px;
    padding: 0px;
    position: relative;
    img {
      position: absolute;
      left: 27px;
      top: 30px;
    }         
  }
  .castThumb {
    float: left;
    background-image: url('cast_thumb_frame.gif');
    width: 166px;
    height: 191px;
    position: relative;
    img {
      left: 15px;
      top: 17px;
      position: absolute;
    }
  }
  .columnCastImage {
    @include span(9);
  }
  .columnCastDetails {
    @include span(13);
    @include last;
  }
  .columnFilter {
    @include span(5);
  }
  .columnCastList {
    @include span(17);
    @include last; 
  }
  .viewStat {
    font: {
      size: smaller;
      style: italic;
    }
  }
  .pageNav {
    font-size: larger;
    padding-left: 10px;
    font-weight: bold;
    a {
      color: #ffffff;
      background-color: #666666;
      border: solid 1pt #333333;
      width: 14pt;
      display: inline-block;
      text-align: center;
      text-decoration: none;
      font-weight: none;
      &:hover {
        text-decoration: underline;
        font-weight: bold;
        background-color: #333333;
      }
    }
  }
}
/* --- JOIN --- */
.join {
  .joinDetail {
    @include span(22);
    @include last;
    & > div {
      @include prepend(1);
      @include span(20);
      @include append(1);
      vertical-align: top;
    }
  }
}
