@import 'blueprint';

*, table, label, select, input {
  font-size: 12pt;
  font-family: Verdana;
  color: #444455;
}
.nowrap {
  white-space: nowrap;
}

/* --- APPLICANT FORM --- */
.applicants {
  .appDetails {
     @include span(22);
     @include last;
  }
  .candidateDetails {
    @include span(11);
  }
  .gaurdianDetails {
    @include span(11);
    @include last;
  }
  .candidateSkills {
    @include span(22);
    @include last;
  }
  .appLabel {
    width: 10em;
    float: left;
    text-align: right;
    margin-right: 0.5em;
    display: block;
    top: 0.0em;
    &:after {
      content: ":";
    }
  }
  label {
    top: 0.0em;
  }
  input, select, textarea {
    margin: {
      top: 0em;
    }
  }
  input, textarea {
    width: 14em;
    left: 1.5em;
  }
  .field {
    margin-bottom: 0px;
  }
}
/* --- CONTACt FORM --- */
.contact {
  .contactDetail {
     @include span(22);
     @include last;
     display: none;
  }
}
.people, .families {
  .castThumb {
    /*float: left;*/
    background-image: url('cast_thumb_frame.gif');
    width: 166px;
    height: 191px;
    position: relative;
    img {
      left: 15px;
      top: 17px;
      position: absolute;
    }
  }
  #person_credit_list {
    white-space: nowrap;
    overflow: auto;
    width: 800px;
  }
  .field {
    .label {
      display: block;
      float: left;
      top: 0px;

      width: 170px;
      &:after {
        content: ': ';
      }
    }
    margin-bottom: 2px;
    * {
      margin-top: 0px;
    }
  }
  .fieldHelp {
    margin: {
      left: 170px;
      bottom: 5px;
    }
    width: 300px;
    font-style: italic;
  }
  .longSelect {
    width: 140px;
  }
  .longLabel {
    display: inline;
    clear: left;
    width: 600px;
    &:after {
      content: ': ';
    }
  }
  #person_skill_list {
    width: 470px;
  }
  .castTable {
    .castHide {
      display: none;
    }
  }
  input[type=text] {
    width: 300px;
  }
  #ShowHide {
    cursor: pointer;
  }
}

.admin {
  .adminTasks {
    margin-top: 10px;
    @include prepend(1);
    @include span(19);

  }
  .adminTask {
    width: 200px;
  }
  td {
    vertical-align: top;
  }
}
